curl -sSL https://ngrok-agent.s3.amazonaws.com/ngrok.asc \
	| sudo tee /etc/apt/trusted.gpg.d/ngrok.asc >/dev/null \
	&& echo "deb https://ngrok-agent.s3.amazonaws.com buster main" \
	| sudo tee /etc/apt/sources.list.d/ngrok.list \
	&& sudo apt update \
	&& sudo apt install ngrok

	ngrok config add-authtoken 2WbQSQrfQGgkuEm1LJwXhhs2rx0_2ENA3G1oCH3xZdg7uhhYZ

	ngrok http --url=mole-pretty-primarily.ngrok-free.app 80


##hdfhd

#!/bin/bash
sleep 2
# Activate Python virtual environment
source /home/hitech/smart-mirror/.venv/bin/activate
export DISPLAY=:0

# Start Magic Mirror
npm start -- --no-sandbox --prefix /home/hitech/MagicMirrornew

#ngrok
ngrok http --url=mole-pretty-primarily.ngrok-free.app 5000

#flask
cd /home/hitech/MagicMirrornew/flask
python app.py &

wait


#####
attrs==24.3.0
backcall==0.2.0
beautifulsoup4==4.12.3
bleach==6.2.0
certifi==2024.12.14
charset-normalizer==3.4.1
click==8.1.8
cmake==3.31.4
defusedxml==0.7.1
dlib==19.24.6
docopt==0.6.2
face-recognition==1.3.0
face_recognition_models==0.3.0
fastjsonschema==2.21.1
gTTS==2.5.4
idna==3.10
ipython==8.12.3
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyterlab_pygments==0.3.0
MarkupSafe==3.0.2
mistune==3.1.0
mkl-service==2.4.2
mkl_fft==1.3.11
nbclient==0.10.2
nbconvert==7.16.5
nbformat==5.10.4
opencv-python==4.11.0.86
pandocfilters==1.5.1
pipreqs==0.5.0
PyAudio==0.2.14
pycairo==1.27.0
pygame==2.6.1
PyGObject==3.50.0
referencing==0.36.1
requests==2.32.3
rpds-py==0.22.3
scipy==1.13.1
soupsieve==2.6
SpeechRecognition==3.14.0
tinycss2==1.4.0
urllib3==2.3.0
webencodings==0.5.1
yarg==0.1.9
