iframe.newsfeed-fullarticle {
  width: 100vw;

  /* very large height value to allow scrolling */
  height: 3000px;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}

.region.bottom.bar.newsfeed-fullarticle {
  bottom: inherit;
  top: -90px;
}

.newsfeed-list {
  list-style: none;
}

.newsfeed-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}
.newsfeed .medium {
  font-size: 33px; /* Same as compliment text */
  font-family: 'Arial', sans-serif; /* Or any font you prefer */
  color: #FFFFFF; /* White text, can be adjusted based on background */
  line-height: 1;
  /* padding: 10px; Adjust padding if necessary */
  border-radius: 10px; /* Optional, adds rounded corners */
  font-weight: bold;
}

.news-title-prefix {
  color: red;
  font-weight: bold;
}