iframe.newsfeed-fullarticle {
  width: 100vw;

  /* very large height value to allow scrolling */
  height: 3000px;
  top: 0;
  left: 0;
  border: none;
  z-index: 1;
}

.region.bottom.bar.newsfeed-fullarticle {
  bottom: inherit;
  top: -90px;
}

.newsfeed-list {
  list-style: none;
}

.newsfeed-list li {
  text-align: justify;
  margin-bottom: 0.5em;
}
.newsfeed .medium {
  font-size: 40px; /* Same as compliment text */
  font-family: 'Arial', sans-serif; /* Or any font you prefer */
  color: #FFFFFF; /* White text, can be adjusted based on background */
  line-height: 1.5;
  word-wrap: break-word;
  white-space: pre-line; /* To preserve newlines in the text */
  text-align: center; /* Center-align the text, or adjust as needed */
  background-color: rgba(0, 0, 0, 0.5); /* Optional, add a background with transparency */
  padding: 10px; /* Adjust padding if necessary */
  border-radius: 10px; /* Optional, adds rounded corners */
}

.news-title-prefix {
  color: red;
  font-weight: bold;
}